{% extends 'quote_view.html' %}

{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    {% if profile.image_url %}
      <div class="col-md-2">
        <img class="img-thumbnail" src="{{ profile.image_url }}">
      </div>
      <div class="col-md-10">
        <h1>
          {{ profile.user.get_full_name|default:profile.user.username }}
          {% if profile.nickname %}
            <small>({{ profile.nickname }})</small>
          {% endif %}
        </h1>
      </div>
    {% else %}
      <div class="col-md-12">
        <h1>
          {{ profile.user.get_full_name|default:profile.user.username }}
          {% if profile.nickname %}
            <small>({{ profile.nickname }})</small>
          {% endif %}
        </h1>
      </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#quotes" aria-controls="quotes" role="tab" data-toggle="tab">{% trans "Quotes" %}</a></li>
        <li role="presentation" class=""><a href="#mentions" aria-controls="mentions" role="tab" data-toggle="tab">{% trans "Mentions" %}</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="quotes">
          {% for quote in profile.quotes %}
            {% if quote.board in user.profile.boards or user.is_superuser %}
              {% include "single_quote.html" %}
            {% endif %}
          {% endfor %}
        </div>
        <div role="tabpanel" class="tab-pane" id="mentions">
          {% for quote in profile.mentions %}
            {% if quote.board in user.profile.boards or user.is_superuser %}
              {% include "single_quote.html" %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
