{% load i18n %}
{% load profiles %}
{% load mentions %}

<div class="panel panel-default {% if not comments %}hidden{% endif %}">
  <table class="table table-bordered table-condensed">
    {% for comment in comments %}
      {% url 'quote:comment' pk=quote_pk comment_pk=comment.pk as comment_url%}
      <tr>
        <td id="comment_{{ comment.pk }}">
          <div class="" id="comment_{{ comment.pk }}_detail">
            <small>
              <p><strong>{% profile_link comment.author %}</strong>&nbsp;{{ comment.text|references|linebreaksbr }}</p>
              {% if user == comment.author or user.is_superuser %}
                <a href="#" data-pk="{{ comment.pk }}" data-display="true" onClick="javascript:showEditForm(event, $(this));">{% trans "Edit" %}</a>
                <a href="#" data-url="{{ comment_url }}" data-method="DELETE" onClick="javascript:deleteComment(event, $(this));">{% trans "Delete" %}</a>
              {% endif %}
              <span class="text-muted">{% blocktrans with t=comment.created|timesince %}{{ t }} ago{% endblocktrans %}</span>
            </small>
          </div>
          <div class="hidden" id="comment_{{ comment.pk }}_edit">
            <div class="row">
              <div class="col-md-12">
                <textarea class="form-control" id="comment_{{ comment.pk }}_text" name="text" placeholder="{% trans "What do you have to say?" %}">{{ comment.text }}</textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="btn-group pull-right flip" role="group">
                  <a class="btn btn-default" href="#" data-pk="{{ comment.pk }}" data-display="false" onClick="javascript:showEditForm(event, $(this));">{% trans "Cancel" %}</a>
                  <a class="btn btn-primary" href="#" data-pk="{{ comment.pk }}" data-url="{{ comment_url }}" data-method="PUT" onClick="javascript:editComment(event, $(this));">{% trans "Edit" %}</a>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
