{% extends 'quote_view.html' %}
{% load staticfiles %}
{% load i18n %}
{% load quotes %}

{% block title %}{{ quote }}{% endblock %}

{% block content %}
  {% url 'board:quote:comment-create' view.kwargs.board quote.pk as create_comment_page %}
  <div class="container">
    {% include "single_quote.html" with with_link=False %}
    <div class="row">
      <div class="col-md-12">
        <p class="alert alert-info hidden" id="likes_list"><strong>{% trans "Likes:" %}</strong> <span id="likers"></span></p>
      </div>
    </div>
    {% if user.is_authenticated %}
      <div class="row" style="margin-bottom: 1em;">
        <div class="col-md-12">
          <form class="form" role="form" id="new_comment_form" action="{{ create_comment_page }}" data-source="#new_comment_text" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <textarea class="form-control" id="new_comment_text" name="text" placeholder="{% trans "What do you have to say?" %}"></textarea>
            </div>
            <input class="btn btn-primary pull-right flip" type="submit" value="{% trans "Comment" %}"\>
          </form>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-md-12">
        {% comments %}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% url 'board:quote:likers' view.kwargs.board quote.pk as likers_page %}
  {% url 'board:quote:like' board=view.kwargs.board pk=quote.pk as like_page %}
  {{ block.super }}
  <script type="text/javascript">
    function updateLikes(likers) {
      if (likers.length) {
        $.get({
          url: "{{ likers_page }}",
          data: {"likers": likers },
          success: function(response) {
            $("#likes_list > #likers").html(response);
            $("#likes_list").removeClass("hidden");
          }});
      }
      else {
        $("#likes_list").addClass("hidden");
      }
    }

    $(function () {
      $.get({
        "url": "{{ like_page }}",
        success: function(response) {
          updateLikes(response.likers);
        }});
    });

    $(document).ready(function() {
      $("button.btn-like, button.btn-unlike").bind(
        "likes_updated",
        function(event, likers) { updateLikes(likers); });
    });
  </script>
  <script type="text/javascript">
    $("#new_comment_form").submit(addComment);
  </script>
{% endblock %}
