{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ quote }}{% endblock %}

{% block content %}
  <div class="container">
    {% for quote in quotes %}
      {% include "quotes/single_quote.html" %}
    {% endfor %}
  </div>
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'memoir/css/vertical_align.css' %}">
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'memoir/js/csrf.js' %}"></script>
  <script type="text/javascript" src="{% static 'quotes/js/likes.js' %}"></script>
{% endblock %}
