{% load profiles %}

<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">Memoir</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% url 'quote:top' as top_page %}
        <li class="{% if request.get_full_path == top_page %}active{% endif %}">
          <a href="{{ top_page }}">Top</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="btn-nav">
            <a class="btn btn-primary navbar-btn" href="{% url 'quote:create' %}">Create</a>
          </div>
        </li>
        <li>
          <div class="navbar-text">
            {% if user.is_authenticated %}
              <span>Logged in as <strong>{% profile_link user classes="navbar-link" %}</strong></span>
              <span>(<a class="navbar-link" href="{% url 'switch-user' %}">switch</a>)</span>
            {% else %}
              <a class="navbar-link" href="{% url 'login' %}">Login</a>
            {% endif %}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
