{% load i18n %}
{% load profiles %}

{% url 'board:list' board=view.kwargs.board as recent_page %}
{% url 'board:top' board=view.kwargs.board as top_page %}
{% url 'board:quote:create' board=view.kwargs.board as create_page %}

<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">Memoir</a>
    </div>
    <div class="navbar-collapse collapse">
      {% if view.kwargs.board is not None %}
        <ul class="nav navbar-nav">
          <span class="navbar-text">{{ view.board.name }}</span>
          <li class="{% if request.path == recent_page %}active{% endif %}">
            <a href="{{ recent_page }}">{% trans "Recent" %}</a>
          </li>
          <li class="{% if request.path == top_page %}active{% endif %}">
            <a href="{{ top_page }}">{% trans "Top" %}</a>
          </li>
        </ul>
      {% endif %}
      <ul class="nav navbar-nav navbar-right flip">
        {% if view.kwargs.board is not None %}
          <li>
            <div class="btn-nav">
              <a class="btn btn-primary navbar-btn" href="{{ create_page }}">{% trans "Create" %}</a>
            </div>
          </li>
        {% endif %}
        <li>
          <div class="navbar-text">
            {% if user.is_authenticated %}
              <span>
                {% trans "Logged in as " %}<strong>{% profile_link user classes="navbar-link" %}</strong>
              </span>
              <span>
                (<a class="navbar-link" href="{% url 'switch-user' %}">{% trans "switch" %}</a>)
              </span>
            {% else %}
              <a class="navbar-link" href="{% url 'login' %}">{% trans "Login" %}</a>
            {% endif %}
          </div>
        </li>
        <li>
          <div class="navbar-text">
            <a class="navbar-link" href="{% url 'about' %}">{% trans "About Memoir" %}</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
