{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ quote }}{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/vertical_align.css' %}">
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
  <script type="text/javascript" src="{% static 'quotes/js/likes.js' %}"></script>
  <script type="text/javascript" src="{% static 'quotes/js/comments.js' %}"></script>
{% endblock %}
