{% load i18n %}
{% load profiles %}
{% load quotes %}
{% load likes %}

{% blocktrans asvar comment_count count counter=quote.comments.count %}
{{ counter }} comment
{% plural %}
{{ counter }} comments
{% endblocktrans %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        {% if quote.author == user or user.is_superuser %}{% user_buttons %}{% endif %}
        <span class="panel-title">{% quote_title %}</span>
        <bdo>&nbsp;</bdo>
        <span class="label label-default">{{ comment_count }}</span>
      </div>
      <div class="panel-body">{% quote_body %}</div>
      <div class="panel-footer clearfix">
        <div class="row vertical-align">
          <div class="col-md-5">
            <span class="text-muted">
              {% spaceless %}
                <span>{% trans "By " %}<bdi>{% profile_link quote.author %}</bdi></span>
                {% if view.board is None %}
                  <span>&nbsp;{% trans "on " %}<bdi>
                      <a href="{% url 'board:top' board=quote.board.slug %}">{{ quote.board }}</a>
                  </bdi></span>
                {% endif %}
                <span>,&nbsp;{{ quote.created }}</span>
              {% endspaceless %}
            </span>
          </div>
          <div class="col-md-1 col-md-offset-6">
            <div class="btn-group pull-right flip" role="group">
              {% like_button %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if quote.author == user or user.is_superuser %}
  {% delete_modal %}
{% endif %}
