{% load profiles %}
{% load quotes %}
{% load likes %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        {% if quote.author == user or user.is_superuser %}{% user_buttons %}{% endif %}
        <span class="panel-title">{% quote_title %}</span>&nbsp;
        <span class="label label-default">{{ quote.comments.count }} comments</span>
      </div>
      <div class="panel-body">{% quote_body %}</div>
      <div class="panel-footer clearfix">
        <div class="row vertical-align">
          <div class="col-md-3" style="padding-right: 0px;">
            <span class="text-muted">By {% profile_link quote.author %}, {{ quote.created }}</span>
          </div>
          <div class="col-md-1 col-md-offset-8" style="padding-left: 0px;">
            <div class="btn-group pull-right" role="group">
              {% like_button %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if quote.author == user or user.is_superuser %}
  {% delete_modal %}
{% endif %}
