{% load profiles %}
{% load quotes %}
{% load likes %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        {% spaceless %}
          {% if quote.author == user %}
            {% user_buttons %}
          {% endif %}
          <span class="panel-title">{% quote_title %}</span>&nbsp;<span>{% quote_author %}</span>
        {% endspaceless %}
      </div>
      <div class="panel-body">{% quote_body %}</div>
      <div class="panel-footer clearfix">
        <div class="row">
          <div class="col-md-7 col-md-offset-5">
            <div class="row vertical-align">
              <div class="col-md-10" style="padding-right: 0px;">
                <span class="pull-right">{{ quote.created }}</span>
              </div>
              <div class="col-md-2" style="padding-left: 0px;">
                <div class="btn-group pull-right" role="group">{% like_button %}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if quote.author == user %}
  {% delete_modal %}
{% endif %}
